*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

html, body{
    width: 100%;
    height: 100%;
}

.panel{
    position: relative;
    width: 450px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top left, steelblue, skyblue);
    padding: 15px;
}

.container{
    height: 100%;
    width: 100%;
    padding-bottom: 5px;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
}

.info{
    height: 25%;
    margin-bottom: 5px;
    border-radius: 4px 4px 0 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'to-do to-do show-task'
        'overdue due-soon all';
    justify-items: center;
    background-color: white;
}

.to-do{
    grid-area: to-do;
    justify-self: left;
    font-size: 1.5rem;
}

.overdue{
    width: 60%;
    grid-area: overdue;
    justify-self: left;
    text-align: center;
    font-size: 1.3rem;
}

.due-soon{
    width: 80%;
    grid-area: due-soon;
    text-align: center;
    font-size: 1.3rem;
}

.all{
    width: 60%;
    grid-area: all;
    justify-self: right;
    text-align: center;
    font-size: 1.3rem;
}

.counter{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 1px 1px 2px black;
}

.list{
    height: 75%;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
}

.items{
    display: flex;
    justify-content: space-between;
}

.labels{
    display: flex;
    margin-right: 20px;
    user-select: none;
}

.task-name{
    display: flex;
}

.task-name span{
    font-size: 1.2rem;
}

.overdue-lab{
    background-color: red;
    color: white;
    width: 90px;
    text-align: center;
    margin: 3px;
    padding: 3px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px red;
}

.soon-lab{
    background-color: orange;
    color: white;
    width: 90px;
    text-align: center;
    margin: 3px;
    padding: 3px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px orange;
}

.unselected{
    background-color: grey;
    box-shadow: none;
    color: grey;
}

.show-task{
    display: flex;
    justify-self: left;
}

.show-task span{
    font-size: 1.2rem;
    padding: 2px;
}

.switcher-off{
    position: absolute;
    /* visibility: hidden; */
    visibility: visible;
}

.switcher-on {
    position: absolute;
    visibility: hidden;
    /* visibility: visible; */
}

.info p:hover{
    text-decoration: underline;
    user-select: none;
}

svg text{
    user-select: none;
    font-size: 1rem;
}

.items input[type="checkbox"]{
    width: 1.3em;
    height: 1.3em;
    margin: 5px;
    background-color: #eee;
}

/* .items input[type="checkbox"]:checked{
    display: block;
    background-color: #2196F3;
}

.items input:hover {
    background-color: #ccc;
  } */

.task-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  .task-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .task-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .task-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .task-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .task-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media only screen and (max-width: 400px){
      .show-task{
          display: none;
      }
  }